DB_HOST= Host Database >> Default: localhost
DB_PORT= Port Database >> Default: 3306
DB_NAME= Nama Database

DB_USER= User Database >> Default: root
DB_PASSWORD= Password Database

EXPECTED_PRODUCTS= Minimal Produk yang Diharapkan
API_KEY= Unique API Key untuk mengakses API

MAX_FILE_SIZE_MB= Batas Maksimal Ukuran File dalam MB

ENABLE_IP_WHITELIST= Apakah IP Whitelist diaktifkan (true/false)
DASHBOARD_IP= IP yang diizinkan untuk mengakses aplikasi counting

STORAGE_PATH= Path untuk menyimpan file yang diunggah >> Default: storage

YOLO_MODEL=models/best.pt #Jangan dirubah, ini adalah path default untuk model YOLO
YOLO_CONFIDENCE= Confidence Threshold untuk YOLO Model >> Default: 0.5